@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    background-color: #b96fa1;
    height: 200vh;
    background-size: cover;
    justify-content: space-around;
}

.image {
    height: 140px;
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.title {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}

.paragraph {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}

.description {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    padding: 10px
}



.card-container {
    border: 1px solid #e9e9e930;
    height: 100px;
    width: 500px;
    border-top-left-radius: 6px;
    margin: 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.heading {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    justify-content: flex-start;
}

.image1 {
    height: 80px;
    width: 70px;

}

.para1 {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 15px;

}

.para2 {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 14px;

}

@media screen and (max-width: 900px) {
    body {
        background: #b96fa1;
    }

    .wrapper {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    .body {
        background: #b96fa1;
    }

    .wrapper {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin-bottom: 20px;
    }
}